/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
	/* Fonts */
	--primary-font: 'Big Shoulders Display', sans-serif;
	--secondary-font: 'Lexend Deca', sans-serif;

	/* Primary Colors*/
	--primary-orange: hsl(31, 77%, 52%);
	--primary-cyan: hsl(184, 100%, 22%);
	--primary-dark-cyan: hsl(179, 100%, 13%);

	/* Neutral Colors*/
	--neutral-white: hsla(0, 0%, 100%, 0.75);
	--neutral--light-grey: hsl(0, 0%, 95%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	text-rendering: optimizeSpeed;
}

body {
	font-family: var(--secondary-font);
	font-size: 15px;
}

h1 {
	color: var(--neutral--light-grey);
	font-family: var(--primary-font);
	text-transform: uppercase;
}

p {
	color: var(--neutral-white);
	font-family: var(--secondary-font);
	line-height: 1.5rem;
}

/* Content */
.overlay {
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.card--container {
	background: grey;
	border-radius: 0.5rem;

	margin: 0 2rem;

	overflow: hidden;
}

@media (min-width: 55rem) {
	.card--container {
		width: 60%;

		display: grid;
		grid-auto-flow: column;
	}
}

.card {
	background: currentColor;

	padding: 2.5rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.card h1 {
	margin-block: 1.5rem;
}

.card.sedan {
	color: var(--primary-orange);
}
.card.suv {
	color: var(--primary-cyan);
}
.card.luxury {
	color: var(--primary-dark-cyan);
}

.btn {
	background: var(--neutral--light-grey);
	border: 2px solid var(--neutral--light-grey);
	border-radius: 2rem;
	outline: none;

	color: currentColor;
	text-decoration: none;

	margin-top: 5rem;
	padding: 0.75rem 1.5rem;
	z-index: 1;

	cursor: pointer;
}

@media (max-width: 55rem) {
	.btn {
		margin-top: 1.5rem;
	}
}

.btn:hover,
.btn:focus {
	background: transparent;
	color: var(--neutral-white);
}

/* Attribution */
.attribution {
	font-size: 11px;
	text-align: center;

	position: fixed;
	bottom: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
